
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 리스트</title>
<!--  <link rel="stylesheet" th:href="@{/css/style.css}"></link>  -->

<!-- bootstrap css -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">


<link rel="stylesheet" th:href="@{/css/video_board.css}"></link>
<!-- 
<link rel="stylesheet" th:href="@{/css/sidebars.css}"></link>
 -->


</head>
<body>


	<div th:replace="/fragments/header.html :: fragment-nav"></div>

	<!-- Page Content -->
	<div class="container">
		<div class="row">

			<div class="col-lg-2 my-4">
				<div class="accordion" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#collapseOne"
								aria-expanded="false" aria-controls="collapseOne">전체 영상</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse"
							aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<button type="button">전체 영상</button>
								<hr>
								<button class="accordion-button collapsed" type="button"
									data-bs-toggle="collapse" data-bs-target="#collapseOne1"
									aria-expanded="false" aria-controls="collapseOne1">전체
									영상</button>

							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingTwo">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#collapseTwo"
								aria-expanded="false" aria-controls="collapseTwo">구독</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse"
							aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
							<div class="accordion-body">
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingfour">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#collapsefour"
								aria-expanded="false" aria-controls="collapsefour">좋아요 누른 영상</button>
						</h2>
						<div id="collapsefour" class="accordion-collapse collapse"
							aria-labelledby="headingfour" data-bs-parent="#accordionExample">
							<div class="accordion-body">
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header" id="headingfive">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#collapsefive"
								aria-expanded="false" aria-controls="collapsefive">
								커뮤니티</button>
						</h2>
						<div id="collapsefive" class="accordion-collapse collapse"
							aria-labelledby="headingfive" data-bs-parent="#accordionExample">
							<div class="accordion-body">
							</div>
						</div>
					</div>

				</div>


			</div>


			<!-- /.col-lg-3 -->

			<div class="col-lg-9 my-3 mb-4">
				<form th:action="@{/video/videoList}" method="GET"
					class="form-inline p-2 bd-highlight" id="searchForm">

					<div class="input_group">
						<input type="hidden" name="page" value="1">
					</div>

					<div class="input-group mb-2" style="width: 400px; float: right;">

						<select class="form-select" id="exampleSelect1" name="type">
							<option th:selected="${pageRequestDto.type == null}">----------</option>
							<option value="t" th:selected="${pageRequestDto.type == 't'}">제목</option>
							<option value="c" th:selected="${pageRequestDto.type == 'c'}">내용</option>
							<option value="o" th:selected="${pageRequestDto.type == 'o'}">작성자</option>
							<option value="tc" th:selected="${pageRequestDto.type == 'tc'}">제목
								+ 내용</option>
							<option value="tco" th:selected="${pageRequestDto.type == 'tco'}">제목
								+ 내용 + 작성자</option>
						</select> <input name="keyword" type="text" class="form-control"
							th:value="${pageRequestDto.keyword}" placeholder="강의 검색하기">
						<button style="background-color: #00bc8c; border-color: #00bc8c;"
							class="btn btn-primary" id="searchBtn">검색</button>
					</div>



				</form>

				<br> <br> <br>
				<hr>
				<div th:if="${UserId}">
					<button style="background-color: #00bc8c; float: right;"
						type="button" class="btn btn-secondary"
						onclick="location.href='/myPage/UVwrite' ">테스트 영상등록</button>
				</div>



				<div class="row row-cols-1 row-cols-md-4 g-4"
					style="max-width: 900px; float: none; margin: 0 auto;">
					<div class="col" th:each="vo : ${list.dtoList}">
						<div class="card h-100">
							<img th:src="@{/img/java.png}" class="card-img-top" alt="...">
							<div class="card-body">	
								<h5 class="title" th:text="${vo.UVTitle}"></h5>
								<a th:href="@{/video/videoDetail(id=${vo.UVId},page=${list.page}, type=${pageRequestDto.type}, keyword=${pageRequestDto.keyword})}"
									class="btn btn-secondary" style="background-color: #00bc8c;">학습하기</a>
							</div>
							<div class="card-footer">
								<small class="text-muted" th:text="${vo.UVUpload}"></small>
							</div>
						</div>
					</div>
				</div>

				<br>




				<div>
					<ul class="pagination" style="justify-content: center;">

						<li class="page-item"><a class="page-link"
							th:if="${list.prev}"
							th:href="@{/video/videoList(page= ${list.start -1}, type=${pageRequestDto.type}, keyword =${pageRequestDto.keyword})}"
							tabindex="-1">&laquo;</a></li>

						<li class="page-item" th:each="page : ${list.pageList}"><a
							class="page-link"
							th:href="@{/video/videoList(page=${page}, type=${pageRequestDto.type}, keyword=${pageRequestDto.keyword})}"
							th:text="${page}"></a></li>

						<li class="page-item"><a class="page-link"
							th:if="${list.next}"
							th:href="@{/video/videoList(page=${list.end + 1}, type=${pageRequestDto.type},keyword=${pageRequestDto.keyword})}">&raquo;</a>
						</li>
					</ul>
				</div>




			</div>



		</div>
	</div>
	<!-- 여기서부터 본문내용, 이후 코드는 bottomLayout에서 마무리 -->



	<!-- <button>
		<a href="/user/userInsert" class="btn">글쓰기</a>
		</button> 
		-->

	<script th:inline="javascript">
	
	
	
	
		var searchForm = $("#searchForm");

		$('#searchBtn').click(function(e) {
			searchForm.submit();
		});
	</script>

</html>