 <!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>게시판 작성</title>
<link rel="stylesheet" th:href="@{/css/style.css}"></link>
<!-- CKeditor5 CDN방식 -->
<script src="https://cdn.ckeditor.com/ckeditor5/33.0.0/classic/ckeditor.js"></script>  
<!-- CKeditor5 다운로드 방식  -->
<!-- <script src="/ckeditor5/ckeditor.js"></script> -->



<!-- CKeditor4
<script src="/ckeditor4/ckeditor.js"></script>
	<script>
    window.onload = function(){
       ck = CKEDITOR.replace("contents");
    };
    </script>
 -->
</head>
<body>
	<div class="container">
		<h2>게시판 작성</h2>
		<!-- submit 버튼을 통한 데이터를 post방식으로 /board/boardInsert로 보낸다 -->
		<!-- file 보내기 위한 enctype 설정! -->
		<form id="frm" name="frm" method="post" action="/user/userInsert">
			<table class="board_detail">
				<!-- tr안에 2개의 td로 나눔  -->
				<tr>
					<td>제목</td>
					<td><input type="text" id="title" name="title"/></td>
				</tr>
				<!-- tr안에 colspan="2"를 사용하여 td를 합친다 -->
				<tr>
					<td colspan="2">
						<textarea id="contents" name="contents"></textarea>
					</td>
				</tr>
			</table>
			<input type="submit" id="submit" value="저장" class="btn">		
		</form>
	</div>


    <script>
        ClassicEditor
            .create( document.querySelector( '#contents' ), {
            	mediaEmbed: {
    		        previewsInData: true
    		    }
            })
            .catch( error => {
                console.error( error );
            } );
    </script>



</body>

</html>