<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<style>


.card_data{
	width : 65%;
	display: block;
	object-fit: contain;
	margin: 0 auto;
 	
}
.h2{
	width: 75%;
	margin: 0 auto;
 	object-fit: contain;
}
.img{
	object-fit: contain;
 	height : 150px;
 	margin: 0 auto;
}

</style>
</head>
<body>
<div class ="h2">
<h2>추천 도서</h2>
</div>
<div class ="card_data">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100" >
      <img src="http://image.yes24.com/goods/109625396/L" class="card-img-top" alt="Hollywood Sign on The Hill"/>
      <div class="card-body">
        <h5 class="card-title" >혼자 공부하는 파이썬</h5>
        <p class="card-text">파이썬 입문 베스트셀러 『혼자 공부하는 파이썬』 개정판(최신 3.10 버전 반영)혼공을 독려하는 ‘혼공 계획표’와 생각의 수준을 높이는 ‘누적 예제’와...
       
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="http://image.yes24.com/goods/107490270/L" class="card-img-top" alt="Palm Springs Road"/>
      <div class="card-body">
        <h5 class="card-title">만들면서 배우는 파이썬과 40개의 작품들</h5>
        <p class="card-text">이 책은 내 업무와 생활에 바로 적용할 수 있는 40개의 프로그램을 직접 코딩해서 만들어보고, 동시에 파이썬을 자연스럽게 이해할 수 있게 구성하였다!...</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="http://image.yes24.com/goods/96024871/L" class="card-img-top" alt="Los Angeles Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">혼자 공부하는 머신러닝+딥러닝</h5>
        <p class="card-text">혼자 해도 충분하다! 1:1 과외하듯 배우는 인공지능 자습서 이 책은 수식과 이론으로 중무장한 머신러닝, 딥러닝 책에 지친 ‘독학하는 입문자’가 ‘꼭 필요한 내용... </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="http://image.yes24.com/goods/24259565/L" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Java의 정석</h5>
        <p class="card-text">
          최근 7년동안 자바 분야의 베스트 셀러 1위를 지켜온 '자바의 정석'의 최신판. 저자가 카페에서 12년간 직접 독자들에게 답변을 해오면서 초보자가 어려워하는 부분을 잘 파악하고 쓴 책..
        </p>
      </div>
    </div>
  </div>
  
</div>
</div>
</body>
</html>